footer {
  background-color: #eee;
  padding: 25px;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: #3b3c4a;
}
.title {
  font-weight: 600;
}
ul,
li {
  list-style-type: none;
  margin-bottom: 4px;
}
ul li a {
  color: #3b3c4a;
}
ul li a:hover {
  color: #000;
  text-decoration: none;
}
footer .email .card-title {
  font-family: "Work Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: #181a2a;
}
footer .email .card-text {
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #696a75;
}
.email .email-input {
  width: 250px;
}
.email .email-input:focus {
  outline: none;
}
.footer-copyright .logo {
  position: relative;
  bottom: 12px;
}
.footer-copyright small {
  position: relative;
  right: 74px;
  top: 8px;
}
.footer-link {
  display: flex;
  justify-content: flex-end;
  position: relative;
  bottom: 50px;
}
.footer-link a {
  margin-left: 20px;
  color: #3b3c4a;
}
.footer-link a:hover {
  text-decoration: none;
  color: #000;
}
