@media (max-width: 576px) {
  .technology {
    font-size: 5px;
  }

  .heading .title .text {
    font-size: 15px;
    line-height: 15px;
  }
  .paragraph-frame .profil-photo {
    width: 15px;
    height: auto;
  }
  .paragraph-frame .writer-name .text {
    font-size: 9px;
  }
  .paragraph-frame .date .text {
    font-size: 9px;
  }
  footer .list {
    width: 150px;
  }
  footer .email {
    margin-top: 20px;
  }
  .footer-copyright .text {
    font-size: 10px;
  }
  .footer-link {
    font-size: 10px;
  }
}
