@media (max-width: 576px) {
  footer .list {
    width: 150px;
  }
  footer .email {
    margin-top: 20px;
  }
  .footer-copyright .text {
    font-size: 10px;
  }
  .footer-link {
    font-size: 10px;
  }
}
