$font1: "Work Sans", sans-serif;
$font2: "Inter", sans-serif;

$color1: #3b3c4a;

.o--navbar {
  width: auto;
  height: 100px;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu--logo {
  }

  .inframe {
    .menu {
      //   display: flex;
      //   position: absolute;
      //   width: 667px;
      //   height: 24px;
      //   justify-content: center;
      //   align-items: center;
      //   left: -35px;

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        font-size: 16px;

        li {
          a {
            text-decoration: none;
            color: $color1;
            font-family: $font1;
          }

          a:hover {
            color: #000000;
            transition: all 0.5s;
          }
        }
      }
    }

    .atom-input {
      width: 160px;
      height: 36px;
      position: relative;
      left: 900px;
      bottom: 70px;
      right: -850px;
      border-radius: 5px;
      background-color: #f4f4f5;
      text-align: center;

      .search-term {
        position: relative;
        width: 105px;
        height: 20px;
        border: none;
        outline: none;
        font-family: $font2;
        color: $color1;
        background-color: #f4f4f5;
        top: 5px;
        left: 3px;
      }

      .search-term::placeholder {
        color: #cacacf;
        font-size: 14px;
      }

      .search-button {
        position: relative;
        border: none;
        outline: none;
        top: 5px;
      }
    }
  }
}

// * {
//     position: relative;
//     box-sizing: border-box;
// }

// html {
//     width: 100%;
//     height: 100%;
// }

// body {
//     width: 100%;
//     height: 100%;
// }

// /*Navbar*/

// nav {
//     width: auto;
//     height: 100px;

// .o-navbar {
//     width: auto;
//     height: 100px;

// .frame {
//     top: 32px;
//     left: 20px;
//     height: 36px;
//     display: block;
//     text-align: center;

// .menu_logo {
//     float: left;
// }

// .inframe {
//     display: flex;
//     width: 942px;
//     height: 36px;
//     padding-top: 6px;
//     padding-bottom: 6px;

// .menu {
//     width: 667px;
//     height: 24px;
//     padding-left: 116px;
//     margin-right: 1px;
//     float: left;
//     left: 6px;

//         ul {
//             display: flex;
//             font-family: $font1;
//              font-size: 16px;
//         }

//         #blog {
//             left: 40px;
//         }

//         #single_post {
//             left: 80px;
//         }

//         #pages {
//             left: 120px;
//         }

//         #contact {
//             left: 160px;
//         }

//         .choose {
//              text-decoration: none;
//                 color: #3B3C4A;
//             }

//         .choose:hover {
//             color: #000000;
//             transition: all .5s;
//         }

// // Button

// .atom-input {
//     width: 166px;
//     height: 36px;
//     padding: 0;
//     text-align: center;
//     border-radius: 5px;
//     background-color: #f4f4f5;
//     position: relative;
//     bottom: 6px;
//     left: 18px;

// }

// .searchTerm {
//     background-color: #f4f4f5;
//     width: 114px;
//     height: 20px;
//     border: none;
//     outline: none;
//     padding: 0;
//     font-family: $font2;
//     top: 8px;
//     font-family: $font2;
//     color: #3B3C4A;

// }

// .searchTerm::placeholder {
//     color: #cacacf;
//     font-size: 14px;
// }

// .searchButton {
//     background-color: #f4f4f5;
//     top: 10px;
//     border: none;
//     outline: none;
//     width: 16px;
//     height: 16px;
//     padding: 0;
// }

// .fa-solid {
//     padding-top: 2px;
//     width: 16px;
//     height: 16px;
// }

// }
// }
// }
// }
// }

// .atom_input form {}

// .frame{
//     margin-left: 23px;
//     margin-right: 0;
//     width: 1218px;
//     height: 36px;
// }

// .menu_logo{
//     width: 158px;
//     height: 36px;
//     float: left;
// }

// .menu{
//     margin-left: 270px;
//     margin-top: 32px;
//     margin-bottom: 32px;
//     padding-top: 10px;
//     padding-bottom: 32px;
// }

// .menu ul{
//     width: 667px;
//     height: 24px;
//     text-align: center;
// }

// .menu li{
//     display:block;
//     width: auto;
// 	float:left;
// 	margin-left:2px;
//     font-family: 'Work Sans', sans-serif;
// }
