$color_blue: #4b6bfb;
$color_white-blue: #eff1f9;
$color_white: #fff;
$color_black: #000;
$color_gray: #f6f6f7;
$color_bg-gray: #e8e8ea;
$color_write_gray: #3b3c4a;
$color_bg-gray-about: #696a75;
$color_soft-gray: #97989f;
$color_black-title: #181a2a;
$color_shadow: #00000029;
